@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.nav-link:hover {
    background-color: whitesmoke;
    transition: ease-in-out .3s;
    border-radius: 10px; 
}
.nav-link:active{
    background-color: whitesmoke;
    border-radius: 10px; 

}

h2 { 
    position: relative;
    text-align: center
}
h2:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 130px;
    height: 2px;
    background: rgb(208, 227, 253);
    transform:translateX(-65px) /*    width/2    */
}

